#HomeworkAggregator-backend/pgdata
#HomeworkAggregator-backend/pgdata/*
HomeworkAggregator-backend/__pycache__
HomeworkAggregator-backend/.pytest_cache
HomeworkAggregator-backend/__pycache__/*
HomeworkAggregator-backend/.pytest_cache/*
HomeworkAggregator-backend/test/__pycache__
HomeworkAggregator-backend/test/__pycache__/*
HomeworkAggregator-backend/gradescopecalendar.log
